To run this script, you need create a folder within the "img" folder called "homework_1", where you put the images to be processed. It doesn't matter what images you use, they just have to be in JPG format. I used the first 10 images from this free kaggle resource: https://www.kaggle.com/chetankv/dogs-cats-images